._ {
  text-align: center;
  background-image: url(/kb.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60vmin;
  background-attachment: fixed;
}

.Logo {
  width: 80%;
}

/* @media only screen and (min-width: 600px) {
  .Logo {
    width: 80%;
  }
} */
