._ {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: inline-block;
  margin: 0.5em;
  padding: 0.25em 1em;
  transition: all 200ms ease-in-out;
}

._:hover {
  background-color: rgba(30, 30, 30, 1);
  border-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  text-decoration: none;
}
